.toggleButton {
    position: fixed;
    right: 20px;
    bottom: 60px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    font-size: 16px;
}

.chatContainer {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 400px;
    max-width: 90%;
    height: 100vh;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 1000;
}

.message {
    border-radius: 8px;
    padding: 10px;
    max-width: 80%;
    word-wrap: break-word;
    color: #333;
    margin-bottom: 10px;
}

.userMessage {
    background-color: #d4f8c4;
    color: #2f5132;
    border-radius: 15px 15px 0 15px;
    padding: 10px 14px;
    max-width: 70%;
    font-size: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: left;
    margin-left: auto;
}

.botMessage {
    background-color: #d1e8ff;
    color: #2f5132;
    border-radius: 15px 15px 0 15px;
    padding: 10px 14px;
    max-width: 70%;
    font-size: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: left;
    margin-right: auto;
}

.inputContainer {
    display: flex;
    margin-top: 10px;
}

.input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.sendButton {
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}
