/* Button styling */
.toggleButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #111827;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    font-size: 24px;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgb(17, 24, 39);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgb(17, 34, 56);
    }
}

/* Chat container styling */
.chatContainer {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 100%;
    max-width: 400px;
    max-height: 90vh;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.chatHeader {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #111827;
    position: sticky;
    top: 0;
    z-index: 1001;
}

/* Chat box styling */
.chatBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.messagesContainer {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

/* Message bubbles */
.messageContainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    word-wrap: break-word;
}

.userContainer {
    flex-direction: row-reverse;
}

.botContainer {
    justify-content: flex-start;
}

.iconContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIcon {
    background-color: #111827;
}

.botIcon {
    background-color: #fbfbfc;
}

.icon {
    color: white;
    font-size: 20px;
}

/* Message bubble text and styling */
.messageBubble {
    padding: 12px 16px;
    border-radius: 16px;
    max-width: 70%;
    background-color: #f0f0f0;
    color: #333;
    overflow-wrap: break-word;
    word-break: break-word;
}

.userContainer .messageBubble {
    background: rgba(59, 130, 246, 0.5);
    color: black;
    text-align: right;
    border-radius: 20px 20px 0px 20px;
}

.botContainer .messageBubble {
    /* background: linear-gradient(135deg, #5c67f2, #4a54e1); */
    background: linear-gradient(135deg, #5c67f2 0%, #4e54c8 100%);
    color: white;
    border-radius: 20px 20px 20px 0px;
}

/* Input container */
.inputContainer {
    display: flex;
    padding: 10px;
    background-color: white;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 1001;
}

.input {
    flex-grow: 1;
    padding: 12px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.sendButton {
    flex-shrink: 0;
    background-color: #111827;
    color: white;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .chatContainer {
        width: 90%;
        height: 80vh;
    }

    .inputContainer {
        width: 100%;
    }
}
