/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/Chatbot.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
/* Button styling */
.Chatbot_toggleButton__7bM1p {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    font-size: 24px;
    animation: Chatbot_pulse__asLXf 1.5s ease-in-out infinite;
}

@keyframes Chatbot_pulse__asLXf {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgb(17, 24, 39);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgb(17, 34, 56);
    }
}

/* Chat container styling */
.Chatbot_chatContainer__NPT3t {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 100%;
    max-width: 400px;
    max-height: 90vh;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.Chatbot_chatHeader__YtjOy {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #111827;
    position: sticky;
    top: 0;
    z-index: 1001;
}

/* Chat box styling */
.Chatbot_chatBox__Q8SvM {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.Chatbot_messagesContainer__kblOB {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

/* Message bubbles */
.Chatbot_messageContainer__ek__3 {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    word-wrap: break-word;
}

.Chatbot_userContainer__JzbDY {
    flex-direction: row-reverse;
}

.Chatbot_botContainer__t3bhd {
    justify-content: flex-start;
}

.Chatbot_iconContainer__WuHw_ {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Chatbot_userIcon___Z48y {
    background-color: #111827;
}

.Chatbot_botIcon__RmlE5 {
    background-color: #111827;
}

.Chatbot_icon__RS4WW {
    color: white;
    font-size: 20px;
}

/* Message bubble text and styling */
.Chatbot_messageBubble__hZDoe {
    padding: 12px 16px;
    border-radius: 16px;
    max-width: 70%;
    background-color: #f0f0f0;
    color: #333;
    overflow-wrap: break-word;
    word-break: break-word;
}

.Chatbot_userContainer__JzbDY .Chatbot_messageBubble__hZDoe {
    background: rgba(59, 130, 246, 0.5);
    color: black;
    text-align: right;
    border-radius: 20px 20px 0px 20px;
    font-size: 14px;
}

.Chatbot_botContainer__t3bhd .Chatbot_messageBubble__hZDoe {
    /* background: linear-gradient(135deg, #5c67f2, #4a54e1); */
    background: linear-gradient(135deg, #5c67f2 0%, #4e54c8 100%);
    color: white;
    border-radius: 20px 20px 20px 0px;
    font-size: 14px;
}

/* Input container */
.Chatbot_inputContainer__fD1rH {
    display: flex;
    padding: 10px;
    background-color: white;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 1001;
}

.Chatbot_input__vYJKX {
    flex-grow: 1;
    padding: 12px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: 111827;
    transition: border-color 0.3s;
}

.Chatbot_sendButton__U_2JI {
    flex-shrink: 0;
    background-color: #111827;
    color: white;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .Chatbot_chatContainer__NPT3t {
        width: 90%;
        height: 80vh;
    }

    .Chatbot_inputContainer__fD1rH {
        width: 100%;
    }
}

/* Typing indicator bubble styling */
.Chatbot_typingBubble__jsb37 {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e0e7ff;
    border-radius: 16px;
    max-width: 70%;
}

.Chatbot_typingDot__GzOhc {
    width: 6px;
    height: 6px;
    background-color: #4e54c8;
    border-radius: 50%;
    margin: 0 2px;
    animation: Chatbot_typingBlink__KCw8V 1s infinite alternate;
}

.Chatbot_typingDot__GzOhc:nth-child(2) {
    animation-delay: 0.2s;
}

.Chatbot_typingDot__GzOhc:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes Chatbot_typingBlink__KCw8V {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

